@import '../../shared/helper';

.deviceprocessing-t {
  display: flex;
  height: px(300);
  flex-direction: column;
  text-align: center;
  align-items: center;
  h2 {
    background: #19659162;
    color: #85d0fc;
    flex-shrink: 0;
    border: 1px solid #0a5299;
    border-radius: 0 0 px(20) px(20);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: px(22);
    line-height: px(24);
    padding: px(10) px(28);
    text-shadow: 0 0 px(2) rgb(218, 210, 210);
    img {
      width: px(22);
      height: px(22);
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
    }
  }
  table {
    width: 100%;
    margin: 0 px(10);
    border-collapse: collapse;
    font-size: px(18);
    td {
      border: 0px;
      color: rgb(152, 195, 243);
    }
    tbody {
      tr:nth-child(even) {
        background:#00808065;
      }	
      td {
        height: px(50);
        width: px(111);
        //background: #3e85ad;
      }
    }
  }
}
.tablebox {
  font-size: px(18);
  height: px(400);
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  //固定的标题部分
  .tb1-header {
    width: 96%;
    position: absolute;
    display: flex;
    align-items: center;
    top: px(10);
    left: px(10);
    z-index: 999;
    pointer-events: none;
    color: rgb(95, 166, 248);
    height: px(50);
    // background: #196591;
    background:#FA8072d2;
  }

  //tbody表格部分
  .tb1-body {
    width: 100%;
    position: absolute;
    top: px(50);
    left: 0;
    .parent {
      //table wrapper
      height: px(400);
      display: block !important;
      overflow-y: scroll;
      -ms-overflow-style: none;
    }
    .parent::-webkit-scrollbar {
      display: none;
    }
    /*设置的子盒子高度大于父盒子，产生溢出效果*/
    .child {
      //tbody childdom1
      height: auto;
      width: px(450);
      // width: 300px !important;
    }

    .child tr {
      height: 100%;
      margin: px(2) 0;
      width: 100%;
    }
  }
}
