@import '../../shared/helper';

.product-inventory {
  flex: 1;
  width: px(500);
  height: px(300);
  margin: 0 auto;
  display: grid;
  grid-template:
    'yl1 yl2' 150fr
    'yl3 yl4' 150fr/250fr 250fr;
  grid-column-gap: px(15);
  grid-row-gap: px(15);
  .yuanliao1,
  .yuanliao2,
  .yuanliao3,
  .yuanliao4 {
    grid-area: yl1;
    position: relative;
    display: flex;
    flex-direction: column;
    height: px(142.5);
    .yuanliao {
      position: absolute;
      top: px(20);
      left: px(10);
      width: px(90);
      height: px(90);
    }
    .spin {
      background: transparent;
      border-radius: 50%;
      box-shadow: inset px(3) px(-2) rgb(81, 48, 202);
      animation: spin 1s linear infinite;
      filter: blur(px(2));
    }
    .spin1 {
      box-shadow: inset px(3) px(-2) rgb(24, 57, 241);
      animation: spin1 1s linear infinite;
      top: px(30);
      left: px(20);
      width: px(70);
      height: px(70);
    }
    .inventory-title,
    .inventory-value {
      color: #cedffd;
      font-size: px(20);
      text-shadow: 0 0 px(20) #33a4fa;
      font-weight: bold;
      text-align: center;
      line-height: px(90);
    }
    .inventory-value {
      left: px(100);
      width: auto;
      color: rgb(156, 231, 253);
    }
  }
  > .yuanliao2 {
    grid-area: yl2;
  }
  > .yuanliao3 {
    grid-area: yl3;
  }
  > .yuanliao4 {
    grid-area: yl4;
  }
  h2 {
    background: #19659162;
    color: #85d0fc;
    flex-shrink: 0;
    border: 1px solid #0a5299;
    border-radius: 0 0 px(20) px(20);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: px(22);
    line-height: px(24);
    padding: px(10) px(28);
    text-shadow: 0 0 px(2) rgb(218, 210, 210);
  }
  .chart {
    flex: 1;
    width: 100%;
  }
}
